<link rel='stylesheet' type='text/css' media='screen' href='main.css'>

<div id='container'>
  <div id='heading'>Battle!</div>

  <div id='cards'>
    <div id='player-1-card'>
      <img src='images/0.png' alt='Avatar'>
      <div id='friend-0'><input form='names' type='text' name='name_1' placeholder='?'></div>
    </div>

    <div id='options'>

      <form id='names' action='/names' method='post'>
        <input id='fight-button' type='submit' value='Fight !!!'>
      </form>

    </div>

    <div id='player-2-card'>
      <img src='images/1.png' alt='Avatar'>
      <div id='friend-0'><input form='names' type='text' name='name_2' placeholder='?'></div>
    </div>
  </div>

  <div id='message'>Sign in to play</div>
</div>
